- content_for :title, "Ticket##{@ticket.id}"
= render :partial => 'partials/find'
= render :partial => 'partials/body'
- unless @token.blank?
  = link_to @token.token, "/ticket/#{@token.token}", :target => "_blank", :class => "token"
= render :partial => 'partials/responses'
= render :partial => 'partials/response'