<% content_for :title, "Ticket##{@ticket.id}" %>
<div class="find">
  <form name="ticket-find" id="ticket-find" method="post">
    <div class="input">
      <label for="query">Find Ticket:</label>
      <input type="text" name="query" id="query">
      <button type="submit">Go</button>
    </div>
  </form>
</div>
<h1>Ticket #<%= @ticket.id %></h1>

<div class="ticket">
  <span class="date"><%= @ticket.created_at.to_time.strftime('%B %e at %l:%M %p') %></span><span>Author: </span><a href="mailto:<%= @ticket.email %>"><%= @ticket.name %></a>
</div>

<div class="message"><%= @ticket.message %></div>
<% unless @token.blank? %>
    <a class="token" href="/ticket/<%= @ticket.id %>-<%= @token.token %>" target="_blank"><%= @ticket.id %>
      -<%= @token.token %></a>
<% end %>
<% unless @responses.blank? %>
    <h1>Responses</h1>
    <ul class="responses">
      <% @responses.each do |response| %>
          <li>
            <div>
              <span class="date"><%= response.created_at.to_time.strftime('%B %e at %l:%M %p') %></span><span>Author: </span><%= response.name %>
              <a href="mailto:<%= response.email %>"><%= response.email %></a></div>
            <div class="response"><%= response.message %></div>
          </li>
      <% end %>
    </ul>
<% end %>

<h2>Response</h2>

<%= form_for :response, html: {id: "response"} do |f| %>
    <%= f.hidden_field(:id, :value => @ticket.id) %>
    <div class="input"><span style="font-weight:bold">Author: </span><%= current_user.username %></div>
    <div class="input">
      <%= f.label :status_id %>
      <%= f.select(:status_id, [['New Ticket', 1], ['Open Ticket', 2], ['On-Hold Ticket', 3], ['Closed Ticket', 4]], selected: @ticket.status_id) %>
    </div>
    <div class="input">
      <%= f.label :message %>
      <%= f.text_area :message %>
    </div>
    <div class="input">
      <%= f.button "Send" %>
    </div>
<% end %>