<% if @status.blank? %>
    <% content_for :title, "New Tickets" %>
<% else %>
    <% content_for :title, "#{@status.gsub(/(\w+)/) { |s| s.capitalize }} Tickets" %>
<% end %>
<div class="find">
  <form name="ticket-find" id="ticket-find" method="post">
    <div class="input">
      <label for="query">Find Ticket:</label>
      <input type="text" name="query" id="query">
      <button type="submit">Go</button>
    </div>
  </form>
</div>
<% if @status.blank? %>
    <h1>New Tickets</h1>
<% else %>
    <h1><%= @status.gsub(/(\w+)/) { |s| s.capitalize } %> Tickets</h1>
<% end %>
<% unless @tickets.blank? %>
    <table>
      <tr>
        <th>Ticket</th>
        <th>User/Email</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th></th>
      </tr>

      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %></td>
            <td><a href="mailto:<%= ticket.email %>"><%= ticket.name %></a></td>
            <td><%= ticket.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
            <td><%= ticket.updated_at.to_time.strftime('%B %e at %l:%M %p') %></td>
            <td><%= link_to "View", "/admin/ticket/#{ticket.id}" %></td>
          </tr>
      <% end %>
    </table>
<% end %>