<% content_for :title, "Sign In" %>
<h1>Sign In</h1>
<%= form_for :user, html: {id: "sign-in"} do |f| %>
    <div class="input">
      <%= f.label 'username or email:' %><br />
      <%= f.text_field :username %>
    </div>
    <div class="input">
      <%= f.label 'password:' %><br />
      <%= f.password_field :password %>
    </div>
    <div class="input">
      <%= f.button 'Sign In' %>
    </div>
<% end %>