<% content_for :title, "New Ticket" %>
<h1>New Ticket</h1>

<%= form_for :ticket, html: {id: "new-ticket"} do |f| %>
    <div class="input">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="input">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class="input">
        <%= f.label :message %>
        <%= f.text_area :message %>
    </div>
    <div class="input">
        <%= f.button %>
    </div>
<% end %>